Personal_project/Annotation_tool_for_Molecular_Similarity/flaskenv
Personal_project/Annotation_tool_for_Molecular_Similarity/ER diagram.drawio
Personal_project/Annotation_tool_for_Molecular_Similarity/class diagram.drawio
Personal_project/Annotation_tool_for_Molecular_Similarity/data
Personal_project/Annotation_tool_for_Molecular_Similarity/ASM/__pycache__